{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    body{
    	
    }

    div.contenu{
    	background-color: white;
    	margin-left: 5%;
    	margin-right:50%;
    	border-radius: 4px;
    	padding:20px;
    	float: left;


    }
    h1{
    	margin-top: :2%;
    	margin-left:5%;
    	margin-right:5%;
    	margin-bottom: 2%;
    	text-align: center;
    }

    div.Accueil{
    	background-color: #e6e6e6;
    	margin-bottom: 0%;
    	margin-top:5%;
    	margin-left: 10%;
    	margin-right:10%;
    	padding-bottom:100%;
    	padding-top: 2%;
    	display: flex;
		flex-direction: column;
    }

    img{

    	float: right;
    	margin-top: -250px;
    	margin-right: 5px;

    }
</style>

<div class="Accueil">
    <h1>Centre Hospitalier Régionnal Universitaire de Bourbon en Besogne</h1>
    <div class="case">
    <div class="contenu">
    <p>Bienvenue sur le site du CHRU de Bourbon en Besogne. Ici, vous trouverez des informations sur la prise de rendez-vous ainsi que sur les différents médecins présents dans l'Hopital.</p>
    <br/>
    <p> Il n'y a pas de photos, l'hopital est trop pauvre</p>
    <p>Faites un don pour sauver des vies (la mienne): mon paypal: jesuisriche.cpavrai@donnelathune.vite</p>
</div>
	<img src="https://raw.githubusercontent.com/Disconnected59/CentreHospitalier/master/GestionRendezVous/images/photohopital.jpg" alt="Photo d'hopital" width="40%;" height="auto">
</div>
</div>
{% endblock %}
