<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
		
		<script src='https://www.google.com/recaptcha/api.js'></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

		<style>
		
		
		 	#header {
		 		border-radius: 10px;
				background: rgb(0,141,231);
				color: #d5d5d5;
				cursor: default;
				height: 4em;
				left: 0;
				position: fixed;
				/* line-height: 4em; */
				/*	position: fixed; */
				text-align: center;
				top: 0;
				width: auto;
				z-index: 10001;
				/* max-width: 65em; */
				width: calc(100% - 6em);
				margin-left:5%;
				margin-right:5%;
				/*padding-top: 2em; */
				/* position: relative; */
			}

			@media screen and (max-width: 480px) {

				#header .inner {
					max-width: 90%;
					width: 90%;
				}

			}
			
			#header a {
				-moz-transition: color 0.2s ease-in-out;
				-webkit-transition: color 0.2s ease-in-out;
				-ms-transition: color 0.2s ease-in-out;
				transition: color 0.2s ease-in-out;
				/* display: inline-block; */
				padding: 2em;
				line-height: 450%;
				color: #ffffff;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 700;
				font-size: .85em;
			}

			#header a:hover {
				color: rgba(255, 255, 255, 0.75);
				padding-top: 10em;
				color: hotpink;
			}

			#header a:last-child {
				/*padding-right: 0em; */
			}

			@media screen and (max-width: 736px) {

				#header a {
					padding: 0 0.5em;
				}

			}
			
			
			
			
			

									
		</style>
		{% endblock %}
    </head>
	
    <body>
    	<div >    		
			<nav id="header">
				
				{% if not app.user %}
				<a href="http://localhost:8000/accueil">Accueil</a>
				<a href="http://localhost:8000/medecin">Medecins</a>
				<a href="http://localhost:8000/service">Services</a>
				<a href="http://localhost:8000/login">Se connecter</a>
				{%else%}
				<a href="http://localhost:8000/accueil">Accueil</a>
				<a href="http://localhost:8000/medecin">Medecins</a>
				<a href="http://localhost:8000/service">Services</a>
				<a href="http://localhost:8000/consultation">Consultations</a>
				<a href="http://localhost:8000/logout">Se Déconnecter</a>
				{%endif%}
			</nav>
			
			
			
			
	    {% block body %}{% endblock %}		
	    {% block javascripts %} 
	    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	    {% endblock %}
    </body>
</html>
