{% extends 'base.html.twig' %}
{% block body %}
<br/><br/><br/>
{% for unConsult in consultation %}
<li> 
	{% if unConsult.getEstValidee() == 0 %}
	RDV de {{unConsult.getPatient().getNom()}} {{unConsult.getPatient().getPrenom()}} avec Docteur {{unConsult.getIdMedecin().getNom()}}
	<a href="{{path('accepter',{id:rdv.getId()})}}">supprimer</a>
	{% endif %}
</li>
{% else %}
Pas de consultation trouvé
{% endfor %}

{% endblock %}